
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Public+Sans&family=Roboto:wght@300;400&family=Ubuntu&family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gabarito&family=Poppins&family=Public+Sans&family=Roboto:wght@300;400&family=Ubuntu&family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gabarito&family=Inter&family=Poppins&family=Public+Sans&family=Roboto:wght@300;400&family=Ubuntu&family=Ysabeau+Infant:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-div1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: black;
}
.div1-subdiv
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:5px 10px;
    cursor: pointer;
}
.div1-subdiv .head-i 
{
    color: yellow;
}
.div1-subdiv p
{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.head-div2
{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    height: auto;
    color: white;
    background-color: black;
    opacity: 0.9;
}
.head-div2 p 
{
    padding: 20px 5px 5px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.navlinks
{
    display: flex;
    align-items: center;
    position: relative;
}
.navlinks li:hover  
{
    background-color:yellow;
    color: black;
}
.navlinks
{
    margin: 20px;
}
.navlinks li , .navlinks a 
{
    list-style-type:none;
    text-decoration: none;
    color:white;
    padding: 20px 5px 5px 5px;
    font-family: 'Poppins', sans-serif;
}
.head-div2 .bar 
{
    display:none;
    padding-top: 20px;
    cursor: pointer;
}
.head-div2 .xmark 
{
    display: none;
    padding-top: 20px;
}

#home 
{
    border: 1px solid black;
    padding: 100px;
    background-color: black;
    color: white;
}
#home .home-head
{
    font-family: 'Gabarito', cursive;
    font-size: clamp(25px,3vw,5vw);
    font-weight: 700;
}
#home .home-cont
{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    line-height: 1.5;
    font-size: clamp(12px,1vw,2vw);
}
#home span 
{
    color:rgb(255, 255, 0);
    font-size: clamp(20px,3vw,5vw);
}
.home-flex a 
{
    text-decoration: none;
    color: black;
}
.home-flex button 
{
    border: none;
    padding: 15px 40px;
    margin-top: 30px;
}
.home-flex-1:hover 
{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
.home-flex-1:hover .butt1-cont  
{
    color: white;
}
.home-flex-2:hover
{
    border: 1px solid yellow;
    background-color: transparent;
} 
.home-flex button a 
{
    font-family: 'Poppins', sans-serif;
}
.butt2  
{
    background-color: rgb(234, 234, 14);
}
.butt2 a 
{
    color: white;
    font-weight: 600;
}
#about 
{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-img
{
    height: 500px;
    width: 500px;
}
.about-cont 
{
    border: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
    right: 50px;
    background-color: white;
}
.about-cont-head
{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(20px,3vw,5vw);
}
.about-cont-cont
{
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    margin-top: 20px;
}
.about-butt
{
    border: 1px solid transparent;
    background-color: rgb(234, 234, 14);
    margin-top: 20px;
    padding: 10px 20px;
}
.about-butt:hover 
{
    background-color: white;
    border: 1px solid rgb(234, 234, 14);
}
.about-butt:hover a 
{
    color: rgb(234, 234, 14);
}
.about-butt a 
{
    text-decoration: none;
    color: white;
}
#services 
{
    border: 1px solid black;
    padding: 100px;
    background-color: black;
    color: white;
}
.service-head 
{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size:48px;
}
.service-flexes
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
}
.service-flex
{
    border: 1px solid black;
    width: 400px;
    height:auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.service-flex p:nth-child(1)
{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.service-flex p:nth-child(2)
{
    text-align: center;
    margin-top: 15px;
}
.service-flex button 
{
    background-color:rgb(234, 234, 14);
    border: 1px solid transparent;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left:27%;
}
.service-flex button a 
{
    text-decoration: none;
    color: white;
}
@media(max-width:740px)
{
    .div1-subdiv p 
    {
        display: none;
    }
    .navlinks
    {
        display:none;
        position: relative;
        flex-direction: column;
        top: 20px;
        left: -10%;
        text-align: center;
    }
    .head-div2 .bar 
    {
        display: block;
    }
    .navlinks li
    {
        color: yellow;
        padding: 10px 5px 5px 5px;
    }
    .navlinks li a 
    {
        color: white;
    }
    .navlinks li a:hover 
    {
        color: black;
    }
    #home .home-head
    {
        text-align: center;
    }
    .home-cont
    {
        font-size: 16px;
        text-align: center;
    }
    .home-head span 
    {
        text-align: center;
        font-size: 48px;
    }
    .home-flex
    {
        text-align: center;
    }
    #about
    {
        flex-direction: column-reverse;
    }
    .about-cont 
    {
        border: 1px solid whitesmoke;
        box-shadow: 1px 1px rgb(220, 199, 199);
        right: 0px;
        height: 280px;
        width: 500px;
    }
     
    #about-img 
    {
        height: 350px;
        width: 500px;
    }
    .service-flexes
    {
        flex-direction: column;
    }
    .service-flex
    {
        margin-bottom: 20px;
    }

}
@media(max-width:500px)
{
    #about
    {
        text-align: center;
    }
}

@media(max-width:295px)
{
    .navlinks
    {
        position:relative;
        font-size: 12px;
        left: -25%;
        text-align: center;
    }
}